<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order By Account</title>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/style.css" type="text/css">
</head>
<body>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a th:href="@{/login/}">Sign in</a>
            <a href="#">FAQs</a>
        </div>
        <div class="offcanvas__top__hover">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="/resources/img/icon/search.png" alt=""></a>
        <a href="#"><img src="/resources/img/icon/heart.png" alt=""></a>
        <a href="#"><img src="/resources/img/icon/cart.png" alt=""><span>0</span></a>
        <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Free shipping, 30-day return or refund guarantee.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <a th:href="@{/auth/login/}">Sign in</a>
                            <a href="#">FAQs</a>
                        </div>
                        <div class="header__top__hover">
                            <span>Usd <i class="arrow_carrot-down"></i></span>
                            <ul>
                                <li>USD</li>
                                <li>EUR</li>
                                <li>USD</li>
                            </ul>
                        </div>
                        <div class="header__top__hover">
                            <span>Lang<i class="arrow_carrot-down"></i></span>
                            <ul>
                                <li><a th:href="@{/shop(lang=en_US)}" th:text="EN"></a></li>
                                <li><a th:href="@{/shop(lang=ru_RU)}" th:text="RU"></a></li>
                            </ul>
                        </div>
                        <!--                        <div th:if="${Abs != null}">-->
                        <!--                            <form action="/logout" method="post">-->
                        <!--                                <button type="submit">Logout</button>-->
                        <!--                            </form>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="./index.html"><img src="/resources/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a th:href="@{/shop/}"><span th:text="#{navbar.home}"></span></a></li>
                        <li><a th:href="@{/catalog/}"><span th:text="#{navbar.shop}"></span></a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a th:href="@{/shop/about-us/}">About Us</a></li>
                                <li><a th:href="@{/shop/shop-details}">Shop Details</a></li>
                                <li><a th:href="@{/order/shopping-cart}">Shopping Cart</a></li>
                                <li><a th:href="@{/shop/checkout}">Check Out</a></li>
                                <li><a th:href="@{/shop/blog-details}">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/shop/blog/}">Blog</a></li>
                        <li><a th:href="@{/shop/contact/}">Contacts</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img src="/resources/img/icon/search.png" alt=""></a>
                    <a href="#"><img src="/resources/img/icon/heart.png" alt=""></a>
                    <a th:href="@{/account/top-up-account}"><img src="/resources/img/icon/cart.png" alt=""> <span>0</span></a>
                    <div class="price" th:text="${account}">$0.00</div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->
<table class="table table-light table-hover table-bordered">
    <caption>Orders</caption>
    <thead class="table-dark">
    <tr>
        <th>id</th>
<!--        <th>Date of Create</th>-->
        <th>Name of Clothing</th>
        <th>Size</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${ordersByAccountId}">
        <td th:text="${order.id}"></td>
<!--        <td th:text="${order.dateOfCreate.year}"></td>-->
        <td th:text="${order.clothing.name}"></td>
        <td th:text="${order.clothing.size}"></td>
        <td th:text="${order.clothing.price}"></td>
        <td th:text="${order.quantity}"></td>
        <td th:text="${order.quantity*order.clothing.price}"></td>
<!--        <td>-->
<!--            <a th:href="@{/account/delete(accountId=${account.id})}">Delete</a>-->
<!--        </td>-->
<!--        <td>-->
<!--            <a th:href="@{/account/update(accountId=${account.id})}">Update</a>-->
<!--        </td>-->
<!--        <td>-->
<!--            <a th:href="@{/account/update(accountId=${account.id})}">Show more details</a>-->
<!--        </td>-->
    </tr>
    </tbody>
    <tfooter>
        <tr>
            <td>Total:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td th:text="${totalSumOfOrderByAccount}"></td>
        </tr>
    </tfooter>

</table>
<div class="container-fluid">

</div>


<div th:insert="~{footer :: footer}"></div>
<!-- Js Plugins -->
<script src="/resources/js/jquery-3.3.1.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="/resources/js/jquery.nice-select.min.js"></script>
<script src="/resources/js/jquery.nicescroll.min.js"></script>
<script src="/resources/js/jquery.magnific-popup.min.js"></script>
<script src="/resources/js/jquery.countdown.min.js"></script>
<script src="/resources/js/jquery.slicknav.js"></script>
<script src="/resources/js/mixitup.min.js"></script>
<script src="/resources/js/owl.carousel.min.js"></script>
<script src="/resources/js/main.js"></script>

</body>
</html>