<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/style.css" type="text/css">
</head>
<body>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a th:href="@{/auth/login/}" th:text="#{navbar.signin}"></a>
        </div>
        <div class="offcanvas__top__hover">
            <span th:text="#{navbar.lang}"><i class="arrow_carrot-down"></i></span>
            <ul>
                <li><a th:href="@{/shop(lang=en_US)}" th:text="EN"></a></li>
                <li><a th:href="@{/shop(lang=ru_RU)}" th:text="RU"></a></li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="/resources/img/icon/search.png" alt=""></a>
        <a href="#"><img src="/resources/img/icon/heart.png" alt=""></a>
        <a th:href="@{/order/shopping-cart}"><img src="/resources/img/icon/cart.png" alt=""><span>0</span></a>
        <div class="price"><a th:href="@{/account/private}" th:text="#{navbar.cabinet}"></a></div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
    </div>
</div>
<!-- Offcanvas Menu End -->


<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <a th:href="@{/auth/login/}" th:text="#{navbar.signin}"></a>
                        </div>
                        <div class="header__top__hover">
                            <span th:text="#{navbar.lang}"><i class="arrow_carrot-down"></i></span>
                            <ul>
                                <li><a th:href="@{/shop(lang=en_US)}" th:text="#{lang.en}"></a></li>
                                <li><a th:href="@{/shop(lang=ru_RU)}" th:text="#{lang.ru}"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a th:href="@{/shop/}"><img src="/resources/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a th:href="@{/shop/}"><span th:text="#{navbar.home}"></span></a></li>
                        <li><a th:href="@{/catalog/}"><span th:text="#{navbar.shop}"></span></a></li>
                        <li><a th:href="@{/order/shopping-cart}" th:text="#{navbar.shopingcart}"></a></li>
                        <li><a th:href="@{/shop/contact/}" th:text="#{navbar.contacts}"></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img src="/resources/img/icon/search.png" alt=""></a>
                    <a href="#"><img src="/resources/img/icon/heart.png" alt=""></a>
                    <a th:href="@{/order/shopping-cart}"><img src="/resources/img/icon/cart.png"
                                                              alt=""><span>0</span></a>
                    <div class="price"><a th:href="@{/account/private}" th:text="#{navbar.cabinet}"></a></div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->


<div class="container-fluid">


    <br>
    <br>
    <div style="text-align: center">
        <h4 th:text="#{admin.info}">Information for Admin</h4>
    </div>

    <br>
    <br>

    <div>
        <form th:action="@{/account/all/page/1}">
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortDir" th:value="${sortDir}"/>
            <input type="hidden" name="size" th:value="${size}"/>
            <input type="text" name="keyword" th:value="${keyword}" th:placeholder="#{navbar.search}"/>
            <button type="submit" class="btn btn-light"><span th:text="#{button.submit}"></span></button>
            <input type="button" class="btn btn-light" th:value="#{navbar.clear}" onclick="clearAccountFilter()"/>
        </form>
    </div>

    <br>

    <div>
        <span th:text="#{shop.total.item}+' : '+ ${totalItems} + ' '+ #{shop.total.page}  +' - '+${currentPage} + ' ' + #{shop.total.of} +  ' '+ ${totalPages}"></span>
        <div>
            <span th:text="#{shop.count.product}">Количество элементов на странице:</span>
            <a th:href="@{'/account/all/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir} + ${keyword!=null ? '&keyword=' + keyword : ''} + '&size=6'}">6</a>
            <a th:href="@{'/account/all/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir} + ${keyword!=null ? '&keyword=' + keyword : ''} + '&size=12'}">12</a>
        </div>
    </div>

    <br/>
    <button type="button" onclick="window.location.href='/account/register'" class="btn btn-success" th:text="#{button.addnew}">Add New Account
    </button>
    <br/>


    <table class="table caption-top table-light table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th>
                <a th:href="@{'/account/all/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir} + ${keyword!=null ? '&keyword=' + keyword : ''} + ${size!=null ? '&size=' + size : ''}}"
                   th:text="#{account.firstname}">First Name</a>
            </th>
            <th>
                <a th:href="@{'/account/all/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir} + ${keyword!=null ? '&keyword=' + keyword : ''} + ${size!=null ? '&size=' + size : ''}}"
                   th:text="#{account.form.last_name}">Last Name</a>
            </th>
            <th>
                <a th:href="@{'/account/all/page/' + ${currentPage} + '?sortField=phoneNumber&sortDir=' + ${reverseSortDir} + ${keyword!=null ? '&keyword=' + keyword : ''} + ${size!=null ? '&size=' + size : ''}}"
                   th:text="#{account.phone_number}">Phone Number</a>
            </th>
            <!--            <th>-->
            <!--                <a th:href="@{'/account/all/page/' + ${currentPage} + '?sortField=birthday&sortDir=' + ${reverseSortDir} + ${keyword!=null ? '&keyword=' + keyword : ''}}">Birth Day</a>-->
            <!--            </th>-->
            <th>
                <a th:href="@{'/account/all/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir} + ${keyword!=null ? '&keyword=' + keyword : ''} + ${size!=null ? '&size=' + size : ''}}">Email</a>
            </th>
            <!--            <th>-->
            <!--                <a th:href="@{'/account/all/page/' + ${currentPage} + '?sortField=country&sortDir=' + ${reverseSortDir} + ${keyword!=null ? '&keyword=' + keyword : ''}}">Country</a>-->
            <!--            </th>-->
            <!--            <th>-->
            <!--                <a th:href="@{'/account/all/page/' + ${currentPage} + '?sortField=town&sortDir=' + ${reverseSortDir} + ${keyword!=null ? '&keyword=' + keyword : ''}}">Town</a>-->
            <!--            </th>-->
            <!--            <th>-->
            <!--                <a th:href="@{'/account/all/page/' + ${currentPage} + '?sortField=street&sortDir=' + ${reverseSortDir} + ${keyword!=null ? '&keyword=' + keyword : ''}}">Street</a>-->
            <!--            </th>-->
            <!--            <th>-->
            <!--                <a th:href="@{'/account/all/page/' + ${currentPage} + '?sortField=street&sortDir=' + ${reverseSortDir} + ${keyword!=null ? '&keyword=' + keyword : ''}}">Apartment</a>-->
            <!--            </th>-->
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${allAccounts}">
            <td th:text="${account.firstName}"></td>
            <td th:text="${account.lastName}"></td>
            <td th:text="${account.phoneNumber}"></td>
            <!--            <td th:text="${account.birthday}"></td>-->
            <td th:text="${account.email}"></td>
            <!--            <td th:text="${account.address.country}"></td>-->
            <!--            <td th:text="${account.address.town}"></td>-->
            <!--            <td th:text="${account.address.street}"></td>-->
            <!--            <td th:text="${account.address.apartment}"></td>-->
            <td>
                <a th:href="@{/account/delete(accountId=${account.id})}" th:text="#{button.delete}">Delete</a>
            </td>
            <td>
                <a th:href="@{/account/update(accountId=${account.id})}" th:text="#{button.update}">Update</a>
            </td>
            <td><a th:href="@{/account/details(accountId=${account.id})}" th:text="#{button.showmoredetails}">Show more
                details</a></td>
        </tr>
        </tbody>

    </table>

    <br/>
    <br/>


    <div style="align-content: center">
        <div class="col-lg-6" style="align-content: center">


            <a th:if="${currentPage > 1}"
               th:href="@{'/account/all/page/1?sortField='+${sortField}+'&sortDir=' + ${sortDir} + ${size!=null ? '&size=' + size : ''}}"
               th:text="#{pagination.first}">First</a>
            <span th:unless="${currentPage > 1}" th:text="#{pagination.first}">First</span>

            <a th:if="${currentPage > 1}"
               th:href="@{'/account/all/page/' + ${currentPage - 1} + '?sortField='+${sortField}+'&sortDir=' + ${sortDir} + ${keyword!=null ? '&keyword=' + keyword : ''} + ${size!=null ? '&size=' + size : ''}}"
               th:text="#{pagination.prev}">Previous</a>
            <span th:unless="${currentPage > 1}" th:text="#{pagination.prev}">Previous</span>

            <span th:each="i : ${#numbers.sequence(1,totalPages)}">
                                <a th:if="${i != currentPage}"
                                   th:href="@{'/account/all/page/' + ${i} + '?sortField='+${sortField}+'&sortDir=' + ${sortDir} + ${keyword!=null ? '&keyword=' + keyword : ''} + ${size!=null ? '&size=' + size : ''}}">[[${i}]]</a>
                            <span th:unless="${i != currentPage}" th:text="${i}+' '"></span>
                            </span>

            <a th:if="${currentPage < totalPages}"
               th:href="@{'/account/all/page/' + ${currentPage+1} + '?sortField='+${sortField}+'&sortDir=' + ${sortDir} + ${keyword!=null ? '&keyword=' + keyword : ''} + ${size!=null ? '&size=' + size : ''}}"
               th:text="#{pagination.next}">Next</a>
            <span th:unless="${currentPage < totalPages}" th:text="#{pagination.next}">Next</span>

            <a th:if="${currentPage < totalPages}"
               th:href="@{'/account/all/page/' + ${totalPages} + '?sortField='+${sortField}+'&sortDir=' + ${sortDir} + ${keyword!=null ? '&keyword=' + keyword : ''} + ${size!=null ? '&size=' + size : ''}}"
               th:text="#{pagination.last}">Last</a>
            <span th:unless="${currentPage < totalPages}" th:text="#{pagination.last}">Last</span>
        </div>
    </div>



</div>

<div th:insert="~{footer :: footer}"></div>


<!-- Js Plugins -->
<script src="/resources/js/jquery-3.3.1.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="/resources/js/jquery.nice-select.min.js"></script>
<script src="/resources/js/jquery.nicescroll.min.js"></script>
<script src="/resources/js/jquery.magnific-popup.min.js"></script>
<script src="/resources/js/jquery.countdown.min.js"></script>
<script src="/resources/js/jquery.slicknav.js"></script>
<script src="/resources/js/mixitup.min.js"></script>
<script src="/resources/js/owl.carousel.min.js"></script>
<script src="/resources/js/main.js"></script>

<script type="text/javascript">
    function clearAccountFilter() {
        window.location = '/account/all'
    }
</script>

</body>
</html>