<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <table style="border: 1px solid black">
        <caption>List of Clothes</caption>
        <thead>
            <tr>
                <th>Name</th>
                <!--        <th th:text="Description"></th>-->
                <!--        <th th:text="Image"></th>-->
                <th>Price</th>
                <th>Count on Storage</th>
                <th></th>
                <th></th>
                <th></th>
                <!--        <th th:text="Brand"></th>-->
            </tr>
        </thead>
        <tbody>
            <tr th:each="storage : ${allStorage}">
                <td th:text="${storage.name}"></td>
                <!--        <td th:text="${{storage.clothing.description}}"></td>-->
                <!--        <td th:text="${{storage.clothing.imagePath}}"></td>-->
                <td th:text="${storage.price}"></td>
                <td th:text="${storage.count}" style="text-align: center"></td>

                <form th:action="@{/catalog/delete}">
                    <td><button type="submit" th:name="clothingId" th:value="${storage.getClothingId()}">Delete</button></td>
                </form>
                <form th:action="@{/catalog/update}">
                    <td><button type="submit" th:name="clothingId" th:value="${storage.getClothingId()}">Update</button></td>
                </form>

                <td><button type="button"
                            onclick="window.location.href='/order/newOrder'" >Create New Order</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br>
<div>
    <button type="button" onclick="window.location.href='/clothes/add'"
            class="btn btn-light">Add New Clothing</button>
</div>

</body>
</html>