<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/style.css" type="text/css">
</head>
<body>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a th:href="@{/login/}">Sign in</a>
            <a href="#">FAQs</a>
        </div>
        <div class="offcanvas__top__hover">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="/resources/img/icon/search.png" alt=""></a>
        <a href="#"><img src="/resources/img/icon/heart.png" alt=""></a>
        <a href="#"><img src="/resources/img/icon/cart.png" alt=""><span>0</span></a>
        <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Free shipping, 30-day return or refund guarantee.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <a th:href="@{/auth/login/}">Sign in</a>
                            <a href="#">FAQs</a>
                        </div>
                        <div class="header__top__hover">
                            <span>Usd <i class="arrow_carrot-down"></i></span>
                            <ul>
                                <li>USD</li>
                                <li>EUR</li>
                                <li>USD</li>
                            </ul>
                        </div>
                        <div class="header__top__hover">
                            <span>Lang<i class="arrow_carrot-down"></i></span>
                            <ul>
                                <li><a th:href="@{/shop(lang=en_US)}" th:text="EN"></a></li>
                                <li><a th:href="@{/shop(lang=ru_RU)}" th:text="RU"></a></li>
                            </ul>
                        </div>
                        <!--                        <div th:if="${Abs != null}">-->
                        <!--                            <form action="/logout" method="post">-->
                        <!--                                <button type="submit">Logout</button>-->
                        <!--                            </form>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="./index.html"><img src="/resources/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a th:href="@{/shop/}"><span th:text="#{navbar.home}"></span></a></li>
                        <li><a th:href="@{/catalog/}"><span th:text="#{navbar.shop}"></span></a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a th:href="@{/shop/about-us/}">About Us</a></li>
                                <li><a th:href="@{/shop/shop-details}">Shop Details</a></li>
                                <li><a th:href="@{/order/shopping-cart}">Shopping Cart</a></li>
                                <li><a th:href="@{/shop/checkout}">Check Out</a></li>
                                <li><a th:href="@{/shop/blog-details}">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/shop/blog/}">Blog</a></li>
                        <li><a th:href="@{/shop/contact/}">Contacts</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img src="/resources/img/icon/search.png" alt=""></a>
                    <a href="#"><img src="/resources/img/icon/heart.png" alt=""></a>
                    <a th:href="@{/account/top-up-account}"><img src="/resources/img/icon/cart.png" alt=""> <span>0</span></a>
                    <div class="price" th:text="${account}">$0.00</div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->
<section>

</section>
<div class="container-fluid col-md-7">

    <form th:action="@{/account/save}" method="post" th:object="${newAccount}">

        <input type="hidden" th:field="*{id}">

        <div class="row">
            <div class="col text-md-center">
                <label for="firstName" th:text="#{account.form.first_name}"></label>
                <input type="text" id="firstName" th:field="*{firstName}" class="form-control"/>
                <p th:each="error : ${#fields.errors('firstName')}" th:text="#{${error}}" style="color: red"></p>
            </div>

            <div class="col text-md-center">
                <label for="lastName" th:text="#{account.form.last_name}"></label>
                <input type="text" id="lastName" th:field="*{lastName}" class="form-control"/>
                <p th:each="error : ${#fields.errors('lastName')}" th:text="#{${error}}" style="color: red"></p>
            </div>
        </div>


        <div>
            <ul style="list-style-type:none">Role:
                <li th:each="role : ${allRoles}">
                    <input id="roles" type="checkbox" th:field="*{role}" th:value="${role.name()}">
                    <label for="roles" th:text="${#strings.toLowerCase(role.name())}"></label>
                    <p th:each="error : ${#fields.errors('role')}" th:text="#{${error}}" style="color: red"></p>
                </li>
            </ul>
        </div>

        <div>
            <ul style="list-style-type: none">Gender:
                <li th:each="gender : ${allGenders}">
                    <input id="genders" type="radio" th:field="*{gender}" th:value="${gender.name()}">
                    <label for="genders" th:text="${#strings.toLowerCase(gender.name())}"></label>
                    <p th:each="error : ${#fields.errors('gender')}" th:text="#{${error}}" style="color: red"></p>
                </li>
            </ul>
        </div>

        <div>

            <label for="country" th:text="#{account.form.country}"></label>
            <input type="text" id="country" th:field="*{address.country}" class="form-control"/><br>
<!--            <p th:each="error : ${#fields.errors('country')}" th:text="#{${error}}" style="color: red"></p>-->

            <label for="town" th:text="#{account.form.town}"></label>
            <input type="text" id="town" th:field="*{address.town}" class="form-control"/><br>
<!--            <p th:each="error : ${#fields.errors('town')}" th:text="#{${error}}" style="color: red"></p>-->

            <label for="street">Street:</label>
            <input type="text" id="street" th:field="*{address.street}" class="form-control"/><br>
<!--            <p th:each="error : ${#fields.errors('street')}" th:text="#{${error}}" style="color: red"></p>-->

            <label for="apartment">Apartment:</label>
            <input type="text" id="apartment" th:field="*{address.apartment}" class="form-control"/><br>
<!--            <p th:each="error : ${#fields.errors('apartment')}" th:text="#{${error}}" style="color: red"></p>-->

        </div>

        <div>
            <div class="row">
                <div class="col">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control" placeholder="+375 (29,33,44) 111-11-11"/><br>
                    <p th:each="error : ${#fields.errors('phoneNumber')}" th:text="#{${error}}" style="color: red"></p>
                </div>
                <div class="col">
                    <label for="email">Email:</label>
                    <input type="text" id="email" th:field="*{email}" class="form-control"/>
                    <p th:each="error : ${#fields.errors('email')}" th:text="#{${error}}" style="color: red"></p>
                </div>
            </div>

            <div>
                <label for="birthday">Birthday:</label>
                <input type="date" id="birthday" th:field="*{birthday}"/><br>
            </div>


            <div class="row">
                <div class="col">
                    <label th:for="login">Login:</label>
                    <input type="text" th:field="*{login}" class="form-control"/>
                    <p th:each="error : ${#fields.errors('login')}" th:text="#{${error}}" style="color: red"></p>
                </div>

                <div class="col">
                    <label th:for="password">Password:</label>
                    <input type="password" th:field="*{password}" class="form-control"/>
                    <p th:each="error : ${#fields.errors('password')}" th:text="#{${error}}" style="color: red"></p>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success">OK</button>
    </form>
</div>

<div th:insert="~{footer :: footer}"></div>

<!-- Js Plugins -->
<script src="/resources/js/jquery-3.3.1.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="/resources/js/jquery.nice-select.min.js"></script>
<script src="/resources/js/jquery.nicescroll.min.js"></script>
<script src="/resources/js/jquery.magnific-popup.min.js"></script>
<script src="/resources/js/jquery.countdown.min.js"></script>
<script src="/resources/js/jquery.slicknav.js"></script>
<script src="/resources/js/mixitup.min.js"></script>
<script src="/resources/js/owl.carousel.min.js"></script>
<script src="/resources/js/main.js"></script>

</body>
</html>