<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>

<form th:action="@{/test/save}" th:object="${clothing}" method="post">
    <div>
        <ul>
            <li th:each="category : ${allCategory}">
                <label th:text="${category.name}"></label>
                <input type="checkbox" th:field="*{categories}" th:value="${category.getId()}">
            </li>
        </ul>
    </div>

    <div>
        <select th:field="*{brand.id}">
            <option
            th:each="brand : ${allBrand}"
            th:text="${brand.name}"
            th:value="${brand.id}">
            </option>
        </select>
    </div>

    <div>Name:
        <input type="text" th:field="*{name}">
    </div>
    <div>Desc:
        <input type="text" th:field="*{description}">
    </div>
    <div>Image:
        <input type="text" th:field="*{imagePath}">
    </div>
    <div>Price:
        <input type="text" th:field="*{price}">
    </div>
    <div>
        <ul><h2>Choose the size</h2>
            <li th:each="size : ${allSizes}" style="list-style: none">
                <input type="checkbox" id="sizes" th:field="*{sizes}" th:value="${size.name()}">
                <label for="sizes"
                       th:text="${size.name()}"></label>
            </li>
        </ul>
    </div>
    <div>
    <button type="submit" th:text="OK"></button>
    </div>
</form>

</body>
</html>