<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/style.css" type="text/css">
</head>
<body>

<div th:insert="~{header :: header}"></div>

<div class="container-fluid col-md-7">
    <form th:action="@{/user/save}" method="post" th:object="${user}">
        <div class="row">
            <div class="col text-md-center">
                <label th:for="name">Name:</label>
                <input type="text" th:field="*{name}" class="form-control"><br>
                <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red"></p>
            </div>

            <div class="col text-md-center">
                <label th:for="age">Age:</label>
                <input type="text" th:field="*{age}" class="form-control"><br>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></p>
            </div>
        </div>


        <label th:for="count">Count:</label>
        <input type="text" th:name="count" class="form-control"><br>

        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>

<div th:insert="~{footer :: footer}"></div>

</body>
</html>