<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Clothes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>

<h2>Add new Clothes to Storage</h2>


<form th:action="@{/catalog/save}" th:object="${newClothing}" method="post">

    <div><label for="category">Category:
        <select id="category" th:field="*{category.id}">
            <option th:each="cat : ${allCategories}"
                    th:value="${cat.id}"
                    th:text="${cat.name}">
            </option>
        </select>
    </label>
        <button type="button" onclick="window.location.href='/catalog/add-new-category'" class="btn btn-dark">Add new Category</button>
    </div>

    <div><label for="brand">Brand:
        <select id="brand" th:field="*{brand.id}">
            <option th:each="br : ${allBrands}"
                    th:value="${br.id}"
                    th:text="${br.name}">
            </option>
        </select>
        <br>
    </label>
        <button type="button" onclick="window.location.href='/catalog/add-new-brand'" class="btn btn-dark">Add new Brand</button>
    </div>

    <br>

    <div>
        <label for="season">Season:</label>
        <select th:field="*{season}" id="season">
            <option th:each="s : ${allSeasons}"
                    th:value="${s.name()}"
                    th:text="${s.name()}"></option>
        </select>
        <br>
    </div>

    <br>

    <div>
        <label for="type">Type:</label>
        <select th:field="*{type}" id="type">
            <option th:each="t : ${allTypes}"
                    th:value="${t.name()}"
                    th:text="${t.name()}"></option>
        </select>
        <br>
    </div>

    <br>

    <div>
        <label for="description">Description:
            <input type="text" id="description"
                   th:field="*{description}"/>
        </label>
    </div>
    <br>



    <br>
    <div>
        <label for="name">Name:
            <input type="text"
                   th:field="*{name}" id="name"/>
        </label>
    </div>
    <br>
    <div>
        <label for="price">Price:
            <input type="text" th:field="*{price}" id="price"/>
            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red"></p>
        </label>
    </div>
    <br>
    <div>
        <h2>Choose the size</h2>
        <ul>
            <li th:each="size : ${allSizes}" style="list-style: none">
                <input type="checkbox" id="sizes" th:field="*{sizes}" th:value="${size.name()}">
                <label for="sizes"
                       th:text="${size.name()}"></label>
            </li>
        </ul>
    </div>
    <br>


    <div>
        <label for="countOfClothing">Count of clothing:
            <input th:type="text" th:name="count" id="countOfClothing">
        </label>
    </div>
    <button class="btn btn-success" type="submit" th:text="Save"></button>
</form>

<form action="">
    <div>
        <label>Image:</label>
        <input type="file" name="img" accept="image/jpeg"/>
    </div>
</form>

</body>
</html>